<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>new</title>
    <link rel="stylesheet" href="../css/default.css" />
    <link rel="stylesheet" href="../css/new.css" />
  </head>
  <body>
    <div class="container ncontainer">
      <div class="function">
        <a href="/home/index">#return</a>
        <a href="">#cancel</a>
        <a href="">#save</a>
        <a href="">#upImage</a>
      </div>

      <div type="text" id="markdown">
        <div class="input">
          <input type="text" name="" id="title" placeholder="TITLE" />
          <img src="/image/sensei.jpg" alt="" />
          <input type="text" name="" id="summary" placeholder="SUMMARY" />
        </div>
        <textarea name="" id="" cols="30" rows="10"></textarea>
      </div>
    </div>
  </body>
</html>
