<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show</title>
    <link rel="stylesheet" href="../css/default.css">
    <link rel="stylesheet" href="../css/show.css">
    <link href="https://fonts.googlefonts.cn/css?family=Hanalei+Fill" rel="stylesheet">
</head>
<body>
    <div class="scontainer container">
        <div class="show">
            <h1>09-04  titleContext</h1>
            <h3>
                <a href="/home/index">#return</a>
                <a href="">#javascript</a>
                <a href="">#node</a>
            </h3>
            <h2>post example with hr post example with headings and to</h2>
            <p>
                Font family	Your browser	Sample image
                'sans-serif': normal fonts without serifs
                Arial, sans-serif	The Quick Brown Fox Jumps Over The Lazy Dog	
                Helvetica, sans-serif	The Quick Brown Fox Jumps Over The Lazy Dog	
                Verdana, sans-serif	The Quick Brown Fox Jumps Over The Lazy Dog	
                Trebuchet MS, sans-serif	The Quick Brown Fox Jumps Over The Lazy Dog	
                Gill Sans, sans-serif	The Quick Brown Fox Jumps Over The Lazy Dog	
                Noto Sans, sans-serif	The Quick Brown Fox Jumps Over The Lazy Dog	
                Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif	The Quick Brown Fox Jumps Over The Lazy Dog	
                Optima, sans-serif	The Quick Brown Fox Jumps Over The Lazy Dog	
                Arial Narrow, sans-serif	The Quick Brown Fox Jumps Over The Lazy Dog	
                sans-serif	The Quick Brown Fox Jumps Over The Lazy Dog	
                'serif': normal fonts with serifs
                Times, Times New Roman, serif	The Quick Brown Fox Jumps Over The Lazy Dog	
                Didot, serif	The Quick Brown Fox Jumps Over The Lazy Dog	
                Georgia, serif	The Quick Brown Fox Jumps Over The Lazy Dog	
                Palatino, URW Palladio L, serif	The Quick Brown Fox Jumps Over The Lazy Dog	
                Bookman, URW Bookman L, serif	The Quick Brown Fox Jumps Over The Lazy Dog	
                New Century Schoolbook, TeX Gyre Schola, serif	The Quick Brown Fox Jumps Over The Lazy Dog	
                American Typewriter, serif	The Quick Brown Fox Jumps Over The Lazy Dog	
                serif	The Quick Brown Fox Jumps Over The Lazy Dog	
                'monospace': fixed-width fonts
                Andale Mono, monospace	The Quick Brown Fox Jumps Over The Lazy Dog	
                Courier New, monospace	The Quick Brown Fox Jumps Over The Lazy Dog	
                Courier, monospace	The Quick Brown Fox Jumps Over The Lazy Dog	
                FreeMono, monospace	The Quick Brown Fox Jumps Over The Lazy Dog	
                OCR A Std, monospace	The Quick Brown Fox Jumps Over The Lazy Dog	
                DejaVu Sans Mono, monospace	The Quick Brown Fox Jumps Over The Lazy Dog	
                monospace	The Quick Brown Fox Jumps Over The Lazy Dog	
                'cursive': fonts that emulate handwriting
                Comic Sans MS, Comic Sans, cursive	The Quick Brown Fox Jumps Over The Lazy Dog	
                Apple Chancery, cursive	The Quick Brown Fox Jumps Over The Lazy Dog	
                Bradley Hand, cursive	The Quick Brown Fox Jumps Over The Lazy Dog	
                Brush Script MT, Brush Script Std, cursive	The Quick Brown Fox Jumps Over The Lazy Dog	
                Snell Roundhand, cursive	The Quick Brown Fox Jumps Over The Lazy Dog	
                URW Chancery L, cursive	The Quick Brown Fox Jumps Over The Lazy Dog	
                cursive	The Quick Brown Fox Jumps Over The Lazy Dog	
                'fantasy': decorative fonts, for titles, etc.
                Impact, fantasy	The Quick Brown Fox Jumps Over The Lazy Dog	
                Luminari, fantasy	The Quick Brown Fox Jumps Over The Lazy Dog	
                Chalkduster, fantasy	The Quick Brown Fox Jumps Over The Lazy Dog	
                Jazz LET, fantasy	The Quick Brown Fox Jumps Over The Lazy Dog	
                Blippo, fantasy	The Quick Brown Fox Jumps Over The Lazy Dog	
                Stencil Std, fantasy	The Quick Brown Fox Jumps Over The Lazy Dog	
                Marker Felt, fantasy	The Quick Brown Fox Jumps Over The Lazy Dog	
                Trattatello, fantasy	The Quick Brown Fox Jumps Over The Lazy Dog	
                fantasy	The Quick Brown Fox Jumps Over The Lazy Dog	
                字体样式
                大部分同一类别的字体有多种不同的样式，典型的有粗体字和斜体字，也经常有粗斜体字，稍少见的有 小体大写字，少数情况下有极细字／极粗字或延展字／压缩字。
                
                下表展示了许多不同的样式。除非你有非常丰富的字集，否则其中许多行看来会是相同的：
                
                rule	serif	sans-serif
                Styles
                font-style: normal	The Quick…	The Quick…
                font-style: italic	The Quick…	The Quick…
                font-style: oblique	The Quick…	The Quick…
                Weights
                font-weight: 100	The Quick…	The Quick…
                font-weight: 200	The Quick…	The Quick…
                font-weight: 300	The Quick…	The Quick…
                font-weight: normal	The Quick…	The Quick…
                font-weight: 500	The Quick…	The Quick…
                font-weight: 600	The Quick…	The Quick…
                font-weight: bold	The Quick…	The Quick…
                font-weight: 800	The Quick…	The Quick…
                font-weight: 900	The Quick…	The Quick…
                Variants
                font-variant: normal	The Quick…	The Quick…
                font-variant: small-caps	The Quick…	The Quick…
                Stretch
                font-stretch: ultra-condensed	The Quick…	The Quick…
                font-stretch: extra-condensed	The Quick…	The Quick…
                font-stretch: condensed	The Quick…	The Quick…
                font-stretch: semi-condensed	The Quick…	The Quick…
                font-stretch: normal	The Quick…	The Quick…
                font-stretch: semi-expanded	The Quick…	The Quick…
                font-stretch: expanded	The Quick…	The Quick…
                font-stretch: extra-expanded	The Quick…	The Quick…
                font-stretch: ultra-expanded	The Quick…	The Quick…
                </p>
        </div>
    </div>
</body>
</html>