body {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}


.container {
    width: 95%;
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.tags {
    width: 20%;
    height: 100vh;
    overflow: auto;
    font-family: 'Teko', sans-serif;
}
.tags::-webkit-scrollbar {
    width: 3px;
}
.tags::-webkit-scrollbar-thumb {
    background: #080808;
}
.tags a {
    margin: 20px;
    display: block;
}

.context {
    flex: 1;
    height: 100vh;
    overflow: auto;
    padding: 20px;
    font-family: 'Economica', sans-serif;
}

