body {
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: auto;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.person {
  width: 20%;
}

.person span {
  font-size: 15px;
}

.show {
  margin: 10px;
  width: 100%;
  overflow: auto;
  padding: 10px;
  overflow: auto;
  font-size: 18px;
}

.show::-webkit-scrollbar {
  width: 5px;
}

.show::-webkit-scrollbar-thumb {
  background: #535953;
}

.tags a {
  text-decoration: none;
}

.card {
  padding: 10px;
  border-bottom: 3px #535953 solid;
  margin: 10px;
}
.card img {
  width: 50%;
}
.card span {
  padding: 10px;
}