body {
  margin: 0;
  padding: 0;
  background-color: #336774;
}

hr {
  size: 20px;
}

a {
  color:#F4A7B9;
}

.container {
  width: 90%;
  margin: auto;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #51A8DD;
  font-family: 'Righteous', cursive;
}

.person {
  width: 20%;
  color: #0C0C0C;
  font-family: "Gloria Hallelujah", cursive;
}

.person span {
  color: #FFB11B;
}

.show {
  margin: 10px;
  width: 80%;
  overflow: auto;
  padding: 10px;
  overflow: auto;
  font-family: 'Do Hyeon', sans-serif;
}

.show p,ul,li{
  font-size: 18px;
}

.default {
  width: 100%;
}

.show img {
  width: 90%;
}
.show::-webkit-scrollbar {
  width: 10px;
}
.show::-webkit-scrollbar-track {
  background: rgb(179, 177, 177);
}
.show::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136);
}
.show::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
}
.show::-webkit-scrollbar-thumb:active {
  background: rgb(68, 68, 68);
}


.tags a {
  text-decoration: none;
}
