body {
  margin: 0;
  padding: 0;
  background-color: #336774;
}

pre {
  color: white;
}

a {
  color:#F4A7B9;
}

.container {
  width: 90%;
  margin: auto;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #51A8DD;
  font-family: 'Righteous', cursive;
}

.person {
  width: 20%;
  color: #0C0C0C;
  font-family: "Gloria Hallelujah", cursive;
}

.person span {
  color: #FFB11B;
}

.show {
  margin: 10px;
  width: 100%;
  overflow: auto;
  padding: 10px;
  overflow: auto;
  font-family: 'Do Hyeon', sans-serif, '华文新魏';
  font-size: 18px;
}

.show::-webkit-scrollbar {
  width: 5px;
}

.show::-webkit-scrollbar-thumb {
  background: #DAC9A6;
}

.tags a {
  text-decoration: none;
}

.card {
  padding: 10px;
  border-bottom: 3px white solid;
}

.card h5 {
  color: #A8D8B9;
}