* {
  margin: 0;
  padding: 0;
}

a {
  border: 1px dotted red;
  padding: 5px;
  margin: 5px;
  color: red;
  text-decoration: none;
}

h2 {
  border: none;
}

h3 {
  margin: 10px;
}


p {
  font-size: 18px;
  margin-top: 20px;
}

button {
  background: none;
  border: none;
  border-bottom: 3px solid black;
  outline: none;
}

input {
  color: black;
  background: transparent;
  border: none;
  outline: none;
  height: 30px;
  font-size: 20px;
}

textarea {
  padding: 20px;
  outline: none;
  resize: none;
  font-size: 16px;
  max-width: 100%;
  bottom: 0;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}