body {
  padding: 0;
  margin: 0;
  background-color: whitesmoke;
  font-size: 16px;
  font-family: Hannotate SC, "Gloria Hallelujah", cursive;
}
h2,h1 {
  font-family: "Permanent Marker", cursive;
}

::-webkit-scrollbar {
  width: 2px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

a {
  font-size: 20px;
  color: red;
  text-decoration: none;
  margin: 10px;
}

span {
  display: block;
}
button {
  background: none;
  border: none;
  border-bottom: 3px solid black;
  outline: none;
}

input {
  color: black;
  background: transparent;
  border: none;
  outline: none;
  height: 30px;
  font-size: 20px;
}

textarea {
  padding: 20px;
  outline: none;
  resize: none;
  font-size: 16px;
  max-width: 100%;
  bottom: 0;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}
/*  */
.container {
  margin: auto;
  display: flex;
  align-items: center;
}
/*  */
