* {
  padding: 0;
  margin: 0;
}

  /* 隐藏滚动条 */
  ::-webkit-scrollbar {
    width: 3px; /* 设置滚动条宽度 */
  }
  /* 设置滚动条滑块样式 */
  ::-webkit-scrollbar-thumb {
    background-color: #555; /* 设置滚动条滑块颜色 */
  }

a {
  color: red;
  text-decoration: none;
  margin: 10px;
  /*  */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* 设置最多显示的行数 */
  overflow: hidden; /* 隐藏超出行数的部分 */
  text-overflow: ellipsis; /* 当内容超出行数时，显示省略号 */
}

p {
  font-size: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* 设置最多显示的行数 */
  overflow: hidden; /* 隐藏超出行数的部分 */
  text-overflow: ellipsis; /* 当内容超出行数时，显示省略号 */
}

.home-container {
  position: relative;
  transition: color 2s ease;
  margin: auto;
  width: 80%;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  /*  */
  -moz-box-shadow: 0px 1px 5px #333333;
  -webkit-box-shadow: 0px 1px 5px #333333;
  box-shadow: 0px 1px 5px #333333;
}

.home-nav {
  width: 80%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 16px;
  overflow: auto;
  border-bottom: 2px black dashed;
  position: fixed;
  background: white;
  z-index: 2;
  top: 0;

}
.home-nav * {
  display: inline-block;
}
img {
  border-radius: 50%;
  width: 50px;
}
.home-nav input {
  background: transparent;
  outline: none;
  border: none;
  width: auto;
  border-bottom: 3px solid black;
  margin-left: auto; /* 将input元素推到最右边 */
  font-size: 20px;
}
.home-nav input::placeholder {
  color: black;
}

.card-container {
  width: 100%;
  margin: auto;
  position: relative;
  left: 0;
  transition: left 2s ease; /* 使用transition属性设置动画 */
  overflow: auto;
}
.top-place {
  height: 15vh;
  width: 90%;
}

.new-card {
  position: absolute;
  width: 90%;
  top: 15%;
  height: 90%;
  right: 100%;
  z-index: 5;
  transition: right 1s ease; /* 使用transition属性设置动画 */
  background: white;
  overflow: hidden;
}

.a-function{
  display: flex;
}
.vditor {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.vditor-toolbar {
  display: none;
}

.card {
  margin: auto;
  width: 90%;
  margin: 5px;
  font-size: 25px;
  border-bottom: gray solid 3px;
}
.card * {
  margin: 10px;
}
