body {
    margin: 0;
    padding: 0;
    background-color: #1C1C1C;
    color: #FCFAF2;
}
span p {
    font-size: 18px;
}
hr {
    filter: alpha(opacity=100, finishopacity=0, style=3),
}
date {
    color: #51A8DD;
}

a {
    display: inline-block;
    font-size: 16px;
    color: #F4A7B9;
}

.container {
    width: 90%;
    height: 100vh;
    overflow: hidden;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.person {
    width: 20%;
}

.person a {
    margin: 5px;
    text-decoration: none;
}

.person p {
    font-size: 16px;
}

.show {
    width: 75%;
    padding: 20px;
}

.card {
    padding: 10px;
    border-bottom: 3px whitesmoke solid;
}