body {
    padding: 0;
    margin: 0;
    font-family: 'Kirang Haerang', cursive;
}

a {
    color: #CB1B45;
    text-decoration: none;
}

p {
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background: #080808;
}

.container {
    width: 90%;
    height: 100vh;
    margin: auto;
    overflow: hidden;
}

.nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav * {
    margin-right: 10px;
}

.show {
    height: 80%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.card {
    padding: 10px;
    border: 1px dotted;
    margin: 10px;
}