body {
    margin: 0;
    padding: 0;
    background-color: #77969A;
    /* 深川鼠 */
    color: #FFFFFB;
}
span p {
    font-size: 18px;
}
hr {
    filter: alpha(opacity=100, finishopacity=0, style=3),
}

a {
    display: inline-block;
    font-size: 16px;
}

.container {
    width: 90%;
    height: 100vh;
    overflow: hidden;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.person {
    width: 20%;
}

.person a {
    margin: 5px;
    text-decoration: none;
}

.person p {
    font-size: 16px;
}

.show {
    width: 75%;
    padding: 20px;
}

.card {
    padding: 20px;
    border-bottom: dotted #1c1c1c 1px;
}