* {
  margin: 0;
  padding: 0;
}

.new-container {
  width: 90%;
  margin: auto;
  height: 100vh;
  flex-direction: column;
  display: flex;
  overflow: hidden;
}

input {
  background: transparent;
  border: none;
  outline: none;
  height: 5%;
  width: 70%;
  font-size: 18px;
  margin: auto;
  border-bottom: black 2px solid;
  margin-bottom: 10px;
}
input::placeholder {
  color: black;
}

.sumbit {
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-around;
}
button {
  background: transparent;
  padding: 10px;
  font-size: 15px;
}

.context {
  width: 90%;
  height: 80%;
  border: solid black 3px;
  position: relative;
  overflow: hidden;
}


.vidtor {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.vditor-toolbar {
    display: none;
}