.ncontainer {
  justify-content: flex-start;
  width: 80%;
  height: 100vh;
  flex-direction: column;
}
.ncontainer .input {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.ncontainer .input input {
  right: 0;
  width: 40%;
  border-bottom: 3px solid black;
  margin: 20px;
}
.function {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
.ncontainer #markdown {
  border: 2px solid black;
  width: 100%;
  min-height: 500px;
  flex: 1;
  background: white;
  position: relative;
  left: 0;
}
.ncontainer #markdown .input img {
  flex: 0.5;
  width: 50px;
  border-radius: 50%;
  z-index: 5;
}
.ncontainer #markdown textarea {
  margin-top: 20px;
  border: none;
  top: 10%;
}
