.container {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  height: 100vh;
  flex-direction: column;
}

a {
  font-size: 20px;
}
.ncontainer .input {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.ncontainer .input input {
  right: 0;
  width: 50%;
  border-bottom: 3px solid black;
  margin: 50px;
}
.function {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
.ncontainer .context {
  border: 2px solid black;
  width: 100%;
  flex: 1;
  background: white;
  overflow: hidden;
}

.ncontainer .context .mk {
  min-height: 70%;
  margin-top: 20px;
  border: none;
  top: 10%;
}

#vditor {
  width: 100%;
  display: flex;
}
.vditor-toolbar {
  display: none;
}
