.context::-webkit-scrollbar {
    width: 5px;
}

.context::-webkit-scrollbar-thumb {
    background: #535953;
}

body {
    display: flex;
    height: 100vh;
    overflow: hidden;
    justify-content: space-around;
}

.contentsTag {
    padding: 10px;
    width: 20%;
}

.contentsTag a {
    text-decoration: none;
}

.context {
    width: 70%;
    overflow: auto;
    font-size: 18px;
}