.scontainer {
    flex-direction: column;
}
.scontainer .show {
    padding: 20px;
    width: 80%;
    flex-direction: column;
    justify-content: center;
}
.scontainer h2 {
    display: inline-block;
}