.scontainer {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.scontainer .show {
  padding: 20px;
  width: 80%;
  flex-direction: column;
  justify-content: center;
}
