<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Steamed Bun Invasion</title>
    <link rel="icon" href="/image/包子.svg" sizes="32x32" type="image/png" />
    <link rel="stylesheet" href="css/default.css" />
  </head>
  <body>
    <div class="home-container">
      <div class="introduction">
        <div class="avatar">
          <img src="/image/icon.jpg" alt="" />
        </div>
        <div class="information">
          <span
            >Some of us get dipped in flat, some in satin, some in gloss. But
            every once in a while you find someone who's iridescent, and when
            you do, nothing will ever compare.</span
          >
          <span
            ><ul>
              <li>
                <h4>TodoList</h4>
                <ul>
                  build this build
                </ul>
                <ul>
                  create a chat app
                </ul>
                <ul>
                  build a video player
                </ul>
                <ul>
                  build a music player
                </ul>
              </li>
            </ul>
          </span>
        </div>
        <div class="tags">
          <a href="/articles/new">#new</a>
        </div>
      </div>
      <div class="articles">
        <% articles.forEach(article => { %>
        <div class="article">
          <div class="left">
            <h2>
              <a href="articles/<%= article.slug %>"><%= article.title %></a>
            </h2>
            <span><%= article.createdAt.toLocaleDateString() %></span>
          </div>
          <div class="right">
            <span class="right-context"> <%= article.description %> </span>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </body>
  <script src="/js/home.js"></script>
</html>
