<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show</title>
    <link rel="stylesheet" href="/css/show.css" />
  </head>

  <body>
    <div class="show-container">
      <div class="left">
        <h1>Pythagoras</h1>
        <span>2023/10/21 9:11 pm</span>
        <div class="link-container">
          <a href="/">#Home</a><a href="./home.html">#node</a
            ><a href="./home.html">#daily</a><a href="./home.html">#daily</a
            ><a href="./home.html">#daily</a
            ><a href="./home.html">#dailydailydailydaily</a
            ><a href="./home.html">#daily</a><a href="./home.html">#daily</a
            ><a href="./home.html">#daily</a><a href="./home.html">#daily</a>
        </div>
      </div>
      <div class="right">
        <p>
          Some of us get dipped in flat, some in satin, some in gloss. But every
          once in a while you find someone who's iridescent, and when you do,
          nothing will ever compare. Some of us get dipped in flat, some in
          satin, some in gloss. But every once in a while you find someone who's
          iridescent, and when you do, nothing will ever compare. Some of us get
          dipped in flat, some in satin, some in gloss. But every once in a
          while you find someone who's iridescent, and when you do, nothing will
          ever compare. Some of us get dipped in flat, some in satin, some in
          gloss. But every once in a while you find someone who's iridescent,
          and when you do, nothing will ever compare. Some of us get dipped in
          flat, some in satin, some in gloss. But every once in a while you find
          someone who's iridescent, and when you do, Some of us get dipped in
          flat, some in satin, some in gloss. But every once in a while you find
          someone who's iridescent, and when you do, nothing will ever compare.
          Some of us get dipped in flat, some in satin, some in gloss. But every
          once in a while you find someone who's iridescent, and when you do,
          nothing will ever compare. Some of us get dipped in flat, some in
          satin, some in gloss. But every once in a while you find someone who's
          iridescent, and when you do, nothing will ever compare. Some of us get
          dipped in flat, some in satin, some in gloss. But every once in a
          while you find someone who's iridescent, and when you do, nothing will
          ever compare. Some of us get dipped in flat, some in satin, some in
          gloss. But every once in a while you find someone who's iridescent,
          and when you do, Some of us get dipped in flat, some in satin, some in
          gloss. But every once in a while you find someone who's iridescent,
          and when you do, nothing will ever compare. Some of us get dipped in
          flat, some in satin, some in gloss. But every once in a while you find
          someone who's iridescent, and when you do, nothing will ever compare.
          Some of us get dipped in flat, some in satin, some in gloss. But every
          once in a while you find someone who's iridescent, and when you do,
          nothing will ever compare. Some of us get dipped in flat, some in
          satin, some in gloss. But every once in a while you find someone who's
          iridescent, and when you do, nothing will ever compare. Some of us get
          dipped in flat, some in satin, some in gloss. But every once in a
          while you find someone who's iridescent, and when you do, Some of us
          get dipped in flat, some in satin, some in gloss. But every once in a
          while you find someone who's iridescent, and when you do, nothing will
          ever compare. Some of us get dipped in flat, some in satin, some in
          gloss. But every once in a while you find someone who's iridescent,
          and when you do, nothing will ever compare. Some of us get dipped in
          flat, some in satin, some in gloss. But every once in a while you find
          someone who's iridescent, and when you do, nothing will ever compare.
          Some of us get dipped in flat, some in satin, some in gloss. But every
          once in a while you find someone who's iridescent, and when you do,
          nothing will ever compare. Some of us get dipped in flat, some in
          satin, some in gloss. But every once in a while you find someone who's
          iridescent, and when you do, Some of us get dipped in flat, some in
          satin, some in gloss. But every once in a while you find someone who's
          iridescent, and when you do, nothing will ever compare. Some of us get
          dipped in flat, some in satin, some in gloss. But every once in a
          while you find someone who's iridescent, and when you do, nothing will
          ever compare. Some of us get dipped in flat, some in satin, some in
          gloss. But every once in a while you find someone who's iridescent,
          and when you do, nothing will ever compare. Some of us get dipped in
          flat, some in satin, some in gloss. But every once in a while you find
          someone who's iridescent, and when you do, nothing will ever compare.
          Some of us get dipped in flat, some in satin, some in gloss. But every
          once in a while you find someone who's iridescent, and when you do,
          Some of us get dipped in flat, some in satin, some in gloss. But every
          once in a while you find someone who's iridescent, and when you do,
          nothing will ever compare. Some of us get dipped in flat, some in
          satin, some in gloss. But every once in a while you find someone who's
          iridescent, and when you do, nothing will ever compare. Some of us get
          dipped in flat, some in satin, some in gloss. But every once in a
          while you find someone who's iridescent, and when you do, nothing will
          ever compare. Some of us get dipped in flat, some in satin, some in
          gloss. But every once in a while you find someone who's iridescent,
          and when you do, nothing will ever compare. Some of us get dipped in
          flat, some in satin, some in gloss. But every once in a while you find
          someone who's iridescent, and when you do, nothing will ever compare.
          Some of us get dipped in flat, some in satin, some in gloss. But every
          once in a while you find someone who's iridescent, and when you do,
          nothing will ever compare. Some of us get dipped in flat, some in
          satin, some in gloss. But every once in a while you find someone who's
          iridescent, and when you do, nothing will ever compare. Some of us get
          dipped in flat, some in satin, some in gloss. But every once in a
          while you find someone who's iridescent, and when you do, nothing will
          ever compare. Some of us get dipped in flat, some in satin, some in
          gloss. But every once in a while you find someone who's iridescent,
          and when you do, nothing will ever compare. Some of us get dipped in
          flat, some in satin, some in gloss. But every once in a while you find
          someone who's iridescent, and when you do, nothing will ever compare.
          Some of us get dipped in flat, some in satin, some in gloss. But every
          once in a while you find someone who's iridescent, and when you do,
          nothing will ever compare. Some of us get dipped in flat, some in
          satin, some in gloss. But every once in a while you find someone who's
          iridescent, and when you do, nothing will ever compare. Some of us get
          dipped in flat, some in satin, some in gloss. But every once in a
          while you find someone who's iridescent, and when you do, nothing will
          ever compare. Some of us get dipped in flat, some in satin, some in
          gloss. But every once in a while you find someone who's iridescent,
          and when you do, nothing will ever compare. Some of us get dipped in
          flat, some in satin, some in gloss. But every once in a while you find
          someone who's iridescent, and when you do, nothing will ever compare.
          Some of us get dipped in flat, some in satin, some in gloss. But every
          once in a while you find someone who's iridescent, and when you do,
          nothing will ever compare. Some of us get dipped in flat, some in
          satin, some in gloss. But every once in a while you find someone who's
          iridescent, and when you do, nothing will ever compare. Some of us get
          dipped in flat, some in satin, some in gloss. But every once in a
          while you find someone who's iridescent, and when you do, nothing will
          ever compare. Some of us get dipped in flat, some in satin, some in
          gloss. But every once in a while you find someone who's iridescent,
          and when you do, nothing will ever compare. Some of us get dipped in
          flat, some in satin, some in gloss. But every once in a while you find
          someone who's iridescent, and when you do, nothing will ever compare.
          Some of us get dipped in flat, some in satin, some in gloss. But every
          once in a while you find someone who's iridescent, and when you do,
          nothing will ever compare. Some of us get dipped in flat, some in
          satin, some in gloss. But every once in a while you find someone who's
          iridescent, and when you do, nothing will ever compare. Some of us get
          dipped in flat, some in satin, some in gloss. But every once in a
          while you find someone who's iridescent, and when you do, nothing will
          ever compare. Some of us get dipped in flat, some in satin, some in
          gloss. But every once in a while you find someone who's iridescent,
          and when you do, nothing will ever compare. Some of us get dipped in
          flat, some in satin, some in gloss. But every once in a while you find
          someone who's iridescent, and when you do, nothing will ever compare.
          Some of us get dipped in flat, some in satin, some in gloss. But every
          once in a while you find someone who's iridescent, and when you do,
          nothing will ever compare. Some of us get dipped in flat, some in
          satin, some in gloss. But every once in a while you find someone who's
          iridescent, and when you do, nothing will ever compare. Some of us get
          dipped in flat, some in satin, some in gloss. But every once in a
          while you find someone who's iridescent, and when you do, nothing will
          ever compare. Some of us get dipped in flat, some in satin, some in
          gloss. But every once in a while you find someone who's iridescent,
          and when you do, nothing will ever compare. Some of us get dipped in
          flat, some in satin, some in gloss. But every once in a while you find
          someone who's iridescent, and when you do, nothing will ever compare.
          nothing will ever compare.
        </p>
      </div>
    </div>
  </body>
</html>
